server {
    listen       80;
    server_name  {{ quentin_bonnet_software_dns_name }};
    root         /app/bonnet-software;
    index        index.php index.html index.htm;

    # Prevent directory listing
    autoindex off;

    # Security headers
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options "nosniff";

    # Block access to sensitive directories
    location ~ ^/(\.git|cache|bin|logs|backup|webserver-configs|tests)/ {
        return 403;
    }

    # Block access to specific file types in system and vendor folders
    location ~ ^/(system|vendor)/.*\.(txt|xml|md|html|json|ya?ml|php|pl|py|cgi|twig|sh|bat)$ {
        return 403;
    }

    # Block access to specific file types in user folders
    location ~ ^/user/.*\.(txt|md|json|ya?ml|php|pl|py|cgi|twig|sh|bat)$ {
        return 403;
    }

    # Block all direct access to .md files
    location ~ \.md$ {
        return 403;
    }

    # Block all direct access to dot files/folders (except .well-known)
    location ~ /\.(?!well-known) {
        deny all;
        access_log off;
        log_not_found off;
    }

    # Block access to specific files in root
    location ~ ^/(LICENSE\.txt|composer\.(lock|json)|\.htaccess)$ {
        return 403;
    }

    # PHP handling (already configured in base image, but we'll be explicit)
    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        # fastcgi_pass unix:/var/run/php-fpm.sock;  # webdevops uses unix socket
        fastcgi_pass 127.0.0.1:9000; # webdevops uses tcp socket apparently
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }

    # Default location block
    location / {
        try_files $uri $uri/index.php$is_args$args $uri/ =404;
    }
}

