services:
  nginx-webserver:
    image: "webdevops/php-nginx:8.2-alpine"
    container_name: {{ website.container_name }}
    restart: always
    user: 2000:2000
    networks:
      - {{ docker_public_network }}
    volumes:
      - {{ website.volume_name }}:/app

volumes:
  {{ website.volume_name }}:
    name: {{ website.volume_name }}

networks:
  {{ docker_public_network }}:
    external: true

